# Postgres Configs
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Development DB
POSTGRES_DB=oauth_provider
POSTGRES_DB_TEST=oauth_provider_test

# Rails App Configs
BASE_URL=http://localhost:3000
SECRET_KEY_BASE=
HMAC_SECRET=
